h2{
    padding: 30px;
    color: orange;
    background-color: rgba(240, 248, 255, 0.523);
}



h4{
    color: black;
}

.darktext{
    color: rgb(18, 18, 18);
}

.card{
    min-height:450px;
}

.img-fluid{
   height: 250px ;
}
.card-title{
    text-align: center;
   min-height: 110px;/*Altura del título para que no ese desfase con el boton de ver más*/
}
.card-img{
    height: 250px !important;
}
.container{
    min-height: 74vh;
}
.titulo-productos{
    text-align: center
}

.ver-mas{
    text-align: center;
    border: solid 2px;
    color: orange;
}
.ver-mas:hover{
    background: orange;
    color: black;
}
