
main {
    min-height: 78vh; 
   }
    main .background .slide,
    main .carrusel .slide {
      background-color: #29292acc;
      margin: auto; }
      main .background .slide .carousel-caption,
      main .carrusel .slide .carousel-caption {
        background-color: #22222431; }
      main .background .slide .carrusel,
      main .carrusel .slide .carrusel {
        max-height: 650px;
        width: 100%; }
        .img-fluid{
            height: 100%;
        }
   
        .saludo{
          padding: 50px;
          color: orange;
          text-align: center;
        }


    