.card-footer{
    font-size: 10px;
}
.card-product{
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    font-weight: 500;
   
}
.card-product-title{
    color: rgb(244, 185, 7);

}

.product-description{

    text-align: justify;
    font-size: 14px;
}

.img-producto{
    height: 200px !important;
    width: auto;
    object-fit: cover;
    
}

.texto-centrado{
    text-align: center;
    color: rgb(166, 23, 23);
}