.card-footer{
    font-size: 10px;
}
.card-product{
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    font-weight: 500;
   
}
.card-product-title{
    color: rgb(244, 185, 7);

}

.product-description{

    text-align: justify;
    font-size: 14px;
}

.img-producto{
    height: 200px !important;
    width: auto;
    object-fit: cover;
    
}

.contenedor-spinner{
    display: flex;
    justify-content: center;    
}
.spinner {
    border: 4px solid rgba(46, 48, 45, 0.319);
    border-left-color: transparent;
    width: 160px;
    height: 160px;
    border-radius: 50%;

    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .contenedor-alto{
    min-height: 92vh !important;
  }