.navbar {
    height: auto;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to bottom, #1a1a1ce1, #8a8b9006);
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;}
.navbar-scrolled{
    background-color: rgba(23, 24, 24, 0.843);
}

.navbar ul li a {
        padding: 7px 13px;
        color: rgb(216, 216, 216);
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase; }

.navbar ul li a:hover {
            color: orange;
            border: 2px solid orange; }
.navbar ul li a:active {
          color: #1fa38b; }

.navbar ul li {
            list-style: none; }
  
.collapse {
    justify-content: center;
    border-radius: 10px;
    z-index: 10; }