.marcas{
   min-height: 500px;
}

.contenedor-boton{
    text-align: center;
    padding: 30px;
    
}
a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
 
}

.text-dark{
    text-align: center;
}

.brand-img{
    text-align: center;
    padding: 10px 20px;
}
.alineadovertical{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brandtitle{
    padding-top: 50px;
    color: orange;

    background: transparent;
}