.servicios {
    
    padding: 60px 20px;
  
}
.i-frame {
    max-width: 500px;
    min-height: 300px;
}
.informacion {
    text-align: justify;
    padding-top: 3em;
}
.zona {
    font-size: 12px;
    font-weight: 800;
    color: black;
    border-color: black;
}

.bajio:hover{
 
    background: orange;
}

.metro:hover{
 
    background: rgb(255, 255, 33);
}

.pacifico:hover{
 
    background: rgb(167, 235, 71);
}